name: Build UEFI App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential gcc g++ binutils \
            gnu-efi mtools parted wget curl sbsigntool xorriso

    - name: Download GNU-EFI full sources
      run: |
        wget https://sourceforge.net/projects/gnu-efi/files/latest/download -O gnu-efi.tar.gz
        mkdir gnu-efi-src
        tar xf gnu-efi.tar.gz -C gnu-efi-src --strip-components=1
        cd gnu-efi-src && make && cd gnuefi && make

  

    - name: Build UEFI App
      run: |
        git clone https://github.com/Rvux86-64/Ubuntuvm.git
        cp ./Ubuntuvm/keys/DB.key ./DB.key
        cp ./Ubuntuvm/keys/DB.crt ./DB.crt
        cp ./Ubuntuvm/keys/DB.cer ./DB.cer
        make
        make image
        sbsign --key DB.key --cert DB.crt --output BOOTX64_signed.efi BOOTX64.efi
        mv BOOTX64_signed.efi BOOTX64.efi

    - name: Upload BOOTX64.efi
      uses: actions/upload-artifact@v4
      with:
        name: BOOTX64-efi
        path: BOOTX64.efi
