name: Build UEFI App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install required packages
      run: |
        sudo apt update
        sudo apt install -y build-essential gcc g++ binutils \
            gnu-efi  mtools parted wget

    - name: Download full GNU-EFI sources (GitHub runner lacks .lds + crt0)
      run: |
        wget https://sourceforge.net/projects/gnu-efi/files/latest/download -O gnu-efi.tar.gz
        mkdir gnu-efi-src
        tar xf gnu-efi.tar.gz -C gnu-efi-src --strip-components=1
        cd gnu-efi-src
        make
        cd ./gnuefi/
        make
        cd ../../ 
        find ./gnu-efi-src/ -name "libgnuefi.a"

       

    - name: Build UEFI App
      run: |
        make
        make image
        make clean
        ls ./
        file -s HamzaOS.iso
        sudo mkdir /mnt
        sudo mount ./HamzaOS.iso /mnt/
        ls /mnt/

    - name: Upload BOOTX64.efi artifact
      uses: actions/upload-artifact@v4
      with:
        name: BOOTX64-efi
        path: BOOTX64.efi
    - name: Upload .iso artifact
      uses: actions/upload-artifact@v4
      with:
        name: HamzaOS.iso
        path: HamzaOS.iso
