name: Ubuntu VM
#https://gist.github.com/tomtzook/9a552c28425deb5bf00123ba2ffb2a4c
on:
  workflow_dispatch:   # allows manual run

jobs:
  run-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Check Ubuntu version
        run: lsb_release -a

      - name: Update and install packages
        run: |
          sudo apt update
          sudo apt install -y build-essential qemu-system-x86 g++
          touch main.cpp
          echo "#include <iostream> \
          using namespace std; \
          int main () { cout << \"hello\"; }" >> ./main.cpp
          g++ main.cpp -o hello
          ./hello

      - name: Run commands
        run: |
          echo "Ubuntu VM is ready!"
          uname -a
